<div class="profile-background">
  <div class="profile-content">
    <h1 class="profile-title"><i class='hostname'><%= @user.username %>'s Profile</i></h1>

    <%= render 'events/hosted_events' %>

    <%= render 'events/attended_events' %>

  </div>
</div>