<div class="hosted-events user-events">
  <div class="subtitle-wrapper">
    <h1>Hosted Events</h1>
  </div>
  <div class="upcoming-events">
    <h2>Upcoming Events:</h2>
    <div class="profile-events-container events-container">
      <% @user.hosted_events.order(event_date: :asc).each do |event| %>
        <% if event.event_date >= DateTime.now %>
          <%= link_to event do %>
            <%= render event %>
          <% end %>
        <% end %>
      <% end %>
      <% if @user.hosted_events.future.empty? %>
        <div class="event-placeholder"></div>
      <% end %>
    </div>
  </div>
  <div class="past-events">
    <h2>Past Events:</h2>
    <div class="profile-events-container events-container">
      <% @user.hosted_events.order(event_date: :desc).each do |event| %>
        <% if event.event_date < DateTime.now %>
          <%= link_to event do %>
            <%= render event %>
          <% end %>
        <% end %>
      <% end %>
      <% if @user.hosted_events.past.empty? %>
        <div class="event-placeholder"></div>
      <% end %>
    </div>
  </div>
</div>