<div class="newevent-background">
  <div class="newevent-content form-content">
    <div class="subtitle-wrapper">
      <h1>New event</h1>
    </div>

    <%= render "form", event: @event %>
  </div>
</div>
