<div class="invitations-background">
  <div class="invitations-content">
    <h1 class="invitations-title">Invitations</h1>
    <div class="invitations-wrapper">
      <div class="inv-grid">
        <% if user_signed_in? && current_user.received_invites.size != nil%>
          <% current_user.received_invites.each do |invitation| %>
            <%= render invitation %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>